/* Write your CSS here */
.app-item {
  list-style-type: none;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  border: 0px;
}

.icon {
  width: 100px;
}
.app-heading {
  font-size: 15px;
  font-family: Bree Serif;
}
